<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dirty Words</title>
  <meta name="description" content="A site for dirty words">
  <meta name="author" content="Jessie Samuelson">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="board"></div>
  <div id="search"></div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>
  <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.min.js"></script> -->
  <script src="https://fb.me/react-0.13.3.min.js"></script>
  <script src="script.js" type="text/babel"></script>
</body>
</html>